@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  --darkblue: #0075A2;
  --blueweak: rgba(0, 117, 162, .6);
  --lightblue: #ADF5FF;
  --white: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Fira Code', monospace;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--lightblue);
}

.profile {
  width: 20%;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  position: relative;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid var(--lightblue);
  box-shadow: 1px 2px 3px rgba(0, 117, 162, .6);
}

.profile svg {
  position: absolute;
  color: var(--white);
  animation: flutuar 2s infinite;
}

.profile svg:nth-child(1) { bottom: 5px; right: 20px; animation-delay: 0.15s; }
.profile svg:nth-child(2) { bottom: 10px; left: 20px; animation-delay: 0.15s;}
.profile svg:nth-child(3) { top: 5px; left: 20px; animation-delay: 0.25s; }
.profile svg:nth-child(4) { top: 10px; right: 20px; animation-delay: 0.25s; }
.profile svg:nth-child(5) { top: 60px; left: 5px; animation-delay: 0.35s; }
.profile svg:nth-child(6) { top: 60px; right: 5px; animation-delay: 0.35s; }

.name {
  width: 100%;
  text-align: center;
  margin: 5px auto;
}

.name h1 {
  color: var(--darkblue);
}

.icons {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: -40px;
}

.icons .circle {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2.5px solid var(--darkblue);
  margin: 20px 10px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 2px var(--blueweak);
  transition: .6s;
}

.icons i, svg {
  color: var(--darkblue);
  font-weight: 500;
  font-size: 25px;
  stroke-width: 2px;
  transition: .6s;
}

.circle:hover {
  background-color: var(--darkblue);
  transform: translateY(-8px);
}

.circle:hover svg, .circle:hover i {
  color: var(--white);
}

.card {
  width: 90%;
  max-width: 480px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 25px 10px;
  background-color: var(--white);
  box-shadow: 0px 2px 2px var(--blueweak);
} 

.content {
  margin: 5px 0;
  margin-bottom: 35px;
  width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  height: 35px;
  padding: 2px 5px;
  width: 75%;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: .4s;
  margin: 10px auto;
}

a.blue {
  background: var(--darkblue);
  border: 2px solid var(--white);
  color: var(--white);
}

a.blue:hover {
  background: var(--white);
  border-color: var(--darkblue);
  color: var(--darkblue);
  transform: scaleX(1.04);
}

a.white {
  background: var(--white);
  border: 2px solid var(--darkblue);
  color: var(--darkblue);
}

a.white:hover {
  background: var(--darkblue);
  border-color: var(--white);
  color: var(--white);
  transform: scaleX(1.04);
}

p {
  width: 75%;
  text-align: left;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 16px;
  padding: 5px;
}

code {
  width: 75%;
  text-align: left;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

code span {
  display: block;
}

code .indent {
  margin-left: 15px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  color: var(--darkblue)
}

@keyframes flutuar {
  0% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
  100% { transform: translateY(0);}
}

@media screen and (max-width: 500px) {
  .profile {
    width: 100%;
  }

  a, p, code {
    width: 90%;
  }
  
  p { font-size: 17px; }
}
